@using CarInsurance.Models

@model List<Insuree>

<h2>Admin</h2>

<div class="body">

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Quote</th>
        </tr>

        @foreach (var i in Model)
        {
            <tr>
                <td>@i.FirstName</td>
                <td>@i.LastName</td>
                <td>@i.EmailAddress</td>
                <td>@i.Quote</td>
            </tr>
        }
    </table>

</div>





